.carousel {
  z-index: 0;
  padding: 5px 0px;
}

.carousel-inner {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  z-index: 0;
}

.carousel-item {
  z-index: 0;
}

.carousel img {
  object-fit: cover;
  object-position: top center;
  z-index: 1;
}

.carousel-former img {
  filter: brightness(50%) grayscale(20%);
}

@media (min-width: 768px) {
  .carousel {
    width: 80%;
  }
  .carousel-former img {
    height: 40vh;
  }
  .carousel img {
    height: 30vh;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .carousel {
    width: 80%;
  }

  .carousel-former img {
    width: 80%;
    height: 50vh;
  }
  .carousel img {
    height: 70vh;
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 100%;
  }
  .carousel img {
    height: 30vh;
  }
}
