@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap');

body {
  font-family: 'Readex pro';
  color: var(--beige);
  font-weight: 100;
  line-height: 20px;
}

h1 {
  font-family: 'Readex Pro';
  color: var(--green);
  font-weight: lighter;
  font-size: 300%;
  text-align: center;
  margin-bottom: 0;
}

#hello h1 {
  font-size: 400%;
}

h3 {
  font-weight: 100;
  font-size: 120%;
  text-align: center;
  margin-bottom: 0;
  line-height: 24px;
}

p {
  text-indent: 10%;
  text-align: justify;
  width: 100%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 320%;
  }

  h3 {
    font-size: 100%;
    line-height: 20px;
  }
  p {
    font-size: 80%;
    line-height: 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--pink);
  text-shadow: 2px 2px 5px rgba(255,255,255,0.1);
}
