.rounded-img {
 width: min(40vh, 40vw);
 max-width: 300px;
 border-radius: 50%;
}

.logo {
  width: 64px;
}

.logo-small {
  width: 48px;
}

@media (max-width: 768px) {
  .logo {
    width: 48px;
  }
  .logo-small {
    width: 32px;
  }
}
