#box-center {
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shown {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.set-right {
  left: 100%;
}

.set-left {
  left: -100%;
}

.set-up {
  top: -100%;
}

.set-down {
  top: 100%
}

.move-right {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.move-left {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.move-up {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.move-down {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

#box-up, #box-down, #box-left, #box-right {
  opacity: 0.8;
}

.blink {
  animation: blink 0.5s ease-in-out alternate infinite;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: .4;
  }

  100% {
    opacity: 0.6;
  }
}
